@import "tailwindcss";

:root {

  --sl-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --sl-font-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, 'Liberation Mono', monospace;
}


.hero {
  img {
    @apply absolute right-0 max-w-1/3 md:opacity-100 opacity-70;
  }
}

.title-text {
  font-size: 16px;
}

.container {
  @apply px-4 md:px-12;
}

h4.entry-title {
  @apply text-xl;
}

.markdown-wrapper {
  @apply pt-0;
}

.starlight-aside__title {
  @apply mt-1;
}
.sl-link-button.primary {
  color: white;
  text-decoration: unset;
}

.sl-link-button {
  text-decoration: unset;
}

.medium-zoom-overlay {
  z-index: 100;
}

.medium-zoom-image--opened {
  z-index: 101;
}
img {
  @apply rounded-lg;
}