@import "tailwindcss";

:root {

  --sl-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --sl-font-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, 'Liberation Mono', monospace;
}


.hero {
  img {
    @apply absolute right-0 max-w-1/3 md:opacity-100 opacity-70;
  }
}

.title-text {
  font-size: 16px;
}

.container {
  @apply px-4 md:px-12;
}

h4.entry-title {
  @apply text-xl;
}

.markdown-wrapper {
  @apply pt-0;
}

.starlight-aside__title {
  @apply mt-1;
}
.sl-link-button.primary {
  color: white;
  text-decoration: unset;
}

.sl-link-button {
  text-decoration: unset;
}

.medium-zoom-overlay {
  z-index: 100;
}

.medium-zoom-image--opened {
  z-index: 101;
}
.medium-zoom-image {
  cursor: zoom-in;
}

.medium-zoom-image--opened {
  cursor: zoom-out;
}
img {
  @apply rounded-lg;
}
.medium-zoom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s;
  will-change: opacity;
  background: var(--medium-zoom-background, #fff);
  /* Fallback */
}

.medium-zoom--opened .medium-zoom-overlay {
  cursor: pointer;
  cursor: zoom-out;
  opacity: 1;
}

.medium-zoom-image {
  cursor: pointer;
  cursor: zoom-in;
  transition: transform .3s cubic-bezier(.2, 0, .2, 1) !important;
}

.medium-zoom-image--hidden {
  visibility: hidden;
}

.medium-zoom-image--opened {
  position: relative;
  cursor: pointer;
  cursor: zoom-out;
  will-change: transform;
}